<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Shop</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"> <%= link_to "Products", products_path, class: 'nav-link' %></li>
        <li class="nav-item"> <%= link_to "New Product", new_product_path, class: 'nav-link' %></li>
        <li class="nav-item"> <%= link_to "Orders", orders_path, class: 'nav-link' %></li>
        <li class="nav-item"> <%= link_to "New Order", new_order_path, class: 'nav-link' %></li>
      </ul>
      <ul class="navbar-nav">
      </ul>
    </div>
  </div>
</nav>